## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd  
import tensorflow as tf

#  Import and read the charity_data.csv.

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['NAME','EIN'])

In [21]:
# Determine the number of unique values in each column.
attrition_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[attrition_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
app_type_amount = application_df['APPLICATION_TYPE'].value_counts()
app_type_amount_df = pd.DataFrame(app_type_amount)
app_type_amount_df

                  count
APPLICATION_TYPE
T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
T9                  156
T13                  66
T12                  27
T2                   16
T25                   3
T14                   3
T29                   2
T15                   2
T17                   1

In [23]:
#Creat list of values to be replaced under 500 entries
application_types_to_replace = app_type_amount_df[app_type_amount_df['count']< 67]
application_types_to_replace = application_types_to_replace.index

application_types_to_replace

Index(['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [24]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [26]:
clas_c_r = application_df['CLASSIFICATION'].value_counts()
clas_c_df_r = pd.DataFrame(clas_c_r)
clas_c_df_r = clas_c_df_r[clas_c_df_r['count'] > 1]
clas_c_df_r

                count
CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
C7000             777
C1700             287
C4000             194
C5000             116
C1270             114
C2700             104
C2800              95
C7100              75
C1300              58
C1280              50
C1230              36
C1400              34
C7200              32
C2300              32
C1240              30
C8000              20
C7120              18
C1500              16
C1800              15
C6000              15
C1250              14
C8200              11
C1238              10
C1278              10
C1235               9
C1237               9
C7210               7
C2400               6
C1720               6
C4100               6
C1257               5
C1600               5
C1260               3
C2710               3
C0                  3
C3200               2
C1234               2
C1246               2
C1267               2
C1256               2

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#looking at values it apears you can keep a mojority of the data while removing some of the noise by keeping clasifications with a count higher than 1000
clas_c = application_df['CLASSIFICATION'].value_counts()
clas_c_df = pd.DataFrame(clas_c)
clas_c_df = clas_c_df[clas_c_df['count'] < 37]
clas_c_df.index

Index(['C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500',
       'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237',
       'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710',
       'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200',
       'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236',
       'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380',
       'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = clas_c_df.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [29]:
application_df = application_df.drop(columns=['USE_CASE','AFFILIATION'])

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df, dtype=float)
dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [31]:
# Split our preprocessed data into our features and target arrays
features = dummies.drop(columns='IS_SUCCESSFUL').values
target = dummies['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
len(X_train[0])

43

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  75
hidden_nodes_layer2 = 38

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 75)                3300

 dense_4 (Dense)             (None, 38)                2888

 dense_5 (Dense)             (None, 1)                 39

=================================================================
Total params: 6,227
Trainable params: 6,227
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6252 - accuracy: 0.6417
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6163 - accuracy: 0.6483
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6137 - accuracy: 0.6490
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6129 - accuracy: 0.6493
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6122 - accuracy: 0.6510
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6107 - accuracy: 0.6508
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6103 - accuracy: 0.6517
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6096 - accuracy: 0.6527
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6096 - accuracy: 0.6523
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.6523
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6087 - accuracy: 0.6520
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.6523
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6087 - accuracy: 0.6511
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.6519
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.6531
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6077 - accuracy: 0.6539
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6073 - accuracy: 0.6532
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6071 - accuracy: 0.6532
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6070 - accuracy: 0.6534
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6071 - accuracy: 0.6539
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6070 - accuracy: 0.6542
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.6529
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6531
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6066 - accuracy: 0.6533
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.6518
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6065 - accuracy: 0.6536
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6532
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6062 - accuracy: 0.6533
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6062 - accuracy: 0.6529
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6058 - accuracy: 0.6543
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6057 - accuracy: 0.6522
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6056 - accuracy: 0.6539
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6550
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6055 - accuracy: 0.6542
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6053 - accuracy: 0.6533
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6053 - accuracy: 0.6548
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6052 - accuracy: 0.6542
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6050 - accuracy: 0.6536
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6051 - accuracy: 0.6544
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6047 - accuracy: 0.6555
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6049 - accuracy: 0.6545
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6048 - accuracy: 0.6554
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6047 - accuracy: 0.6557
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6047 - accuracy: 0.6543
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6047 - accuracy: 0.6549
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6047 - accuracy: 0.6545
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6048 - accuracy: 0.6549
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6552
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6042 - accuracy: 0.6551
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6547
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6540
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6556
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6042 - accuracy: 0.6550
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6044 - accuracy: 0.6554
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.6556
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6042 - accuracy: 0.6550
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6039 - accuracy: 0.6557
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6040 - accuracy: 0.6554
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6040 - accuracy: 0.6557
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6037 - accuracy: 0.6562
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6040 - accuracy: 0.6550
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.6555
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6037 - accuracy: 0.6544
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6040 - accuracy: 0.6558
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6036 - accuracy: 0.6556
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6033 - accuracy: 0.6551
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.6563
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6036 - accuracy: 0.6563
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6034 - accuracy: 0.6552
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6033 - accuracy: 0.6558
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6034 - accuracy: 0.6564
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6032 - accuracy: 0.6560
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.6561
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6562
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6032 - accuracy: 0.6564
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6555
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6032 - accuracy: 0.6558
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6032 - accuracy: 0.6560
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.6560
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6558
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6557
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.6563
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6562
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6028 - accuracy: 0.6554
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6557
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6556
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6557
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.6564
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6026 - accuracy: 0.6565
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6564
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6028 - accuracy: 0.6566
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6032 - accuracy: 0.6565
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6030 - accuracy: 0.6559
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6564
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6561
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.6552
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6562
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.6562
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6024 - accuracy: 0.6563
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.6562

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6124 - accuracy: 0.6564 - 363ms/epoch - 1ms/step
Loss: 0.6123853325843811, Accuracy: 0.6564431190490723

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity3.h5')