## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd  
import tensorflow as tf

#  Import and read the charity_data.csv.

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [1]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['NAME','EIN'])

NameError: name 'application_df' is not defined

In [6]:
# Determine the number of unique values in each column.
attrition_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[attrition_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_type_amount = application_df['APPLICATION_TYPE'].value_counts()
app_type_amount_df = pd.DataFrame(app_type_amount)
app_type_amount_df

                  count
APPLICATION_TYPE
T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
T9                  156
T13                  66
T12                  27
T2                   16
T25                   3
T14                   3
T29                   2
T15                   2
T17                   1

In [10]:
#Creat list of values to be replaced under 500 entries
application_types_to_replace = app_type_amount_df[app_type_amount_df['count']< 500]
application_types_to_replace = application_types_to_replace.index

application_types_to_replace

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [11]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#looking at values it apears you can keep a mojority of the data while removing some of the noise by keeping clasifications with a count higher than 1000
clas_c = application_df['CLASSIFICATION'].value_counts()
clas_c_df = pd.DataFrame(clas_c)
clas_c_df = clas_c_df[clas_c_df['count'] < 1000]
clas_c_df.index

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = clas_c_df.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [17]:
# Split our preprocessed data into our features and target arrays
features = dummies.drop(columns='IS_SUCCESSFUL').values
target = dummies['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=78)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [130]:
len(X_train[0])

43

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7350
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7342
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7358
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7348
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7349
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7356
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7355
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7358
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7358
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7354
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7358
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7366
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7358
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7362
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7354
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7354
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7362
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7362
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7362
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7370
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7364
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7356
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7355
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7356
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7363
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7370
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7351
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7367
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7366

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5567 - accuracy: 0.7247 - 503ms/epoch - 2ms/step
Loss: 0.5566880702972412, Accuracy: 0.7246647477149963

In [25]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')